.scroll {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}

.scroll-bar .thumb {
    -fx-background-color: #8b8b8b;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: derive(#8b8b8b, -20%);
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: #8b8b8b;
}